h1{color:aliceblue;
    background-color: aquamarine;



}
h2{color:aliceblue;
    background-color: rgb(133, 127, 255);



}
h3{color:blue;
background-color: blueviolet;
}
p{color:aliceblue;
    background-color: rgb(255, 127, 127);



}